# TEMPLATE.GITIGNORE

# .NET
backend/bin/
backend/obj/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.pdb
*.log

# SQLite database
*.db
*.db-shm
*.db-wal

# Visual Studio
.vs/
*.csproj.user

# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
